/bin/
/obj/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.tlog
*.ide
*.dbmdl
*.jfm
*.class
*.cache
*.diff
*.csproj.user
/testResults/
*.nupkg
*.snupkg
*.ds_store
.DS_Store
Thumbs.db
*.exe
*.dll
*.pdb
*.mdb
*.ide_*_cache
.idea/
.DS_Store
*.iml
/.vs/
*.vscode
