# Node.js
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Docker
docker-compose.override.yml
docker-compose.override.env

# Knex
knexfile.js

# Coverage
coverage

# Misc
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

.nyc_output